* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: aliceblue;
}

.content{
    padding: 1rem;
    background-color: #fff;
    margin: auto;
    width: 90%;
    justify-content: center
}

